audio/

data/*
!data/general_data/
data/general_data/*
!data/general_data/list_of_names_to_insult_people_with.txt

graphics/resultImage.png
graphics/gotcha.png
graphics/shibes/
graphics/hams/
graphics/fumikas/
graphics/pride flags/
graphics/doge/
graphics/inkblots/
graphics/spiders/