audio/

data/*
!data/list of names to insult people with.txt
!data/general_data/
data/general_data/*
!data/general_data/prideFlagData.json

graphics/resultImage.png
graphics/gotcha.png
graphics/shibes/
graphics/hams/
graphics/fumikas/
graphics/pride flags/